body {
  font-family: Verdana, sans-serif; /* Set a default font */
  margin: 0; /* Remove default margin */
  padding: 6em; /* Add margin from left and right */
  background-color: #f0f0f0; /* Light purple background for body */
  margin-top: 4em; /* Add space above the body content */
  scroll-margin-top: 6em; /* Adjust margin to accommodate the fixed header */
}

header {
  background-color: #6c88c4;
  padding: 2em 2em; /* Add padding for spacing */
  display: flex; /* Arrange elements horizontally */
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
  position: fixed; /* Freeze header in position */
  top: 0; /* Position header at the top of the page */
  left: 50%; /* Position header at the center horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  width: 60%; /* Set header width to 60% of viewport */
  z-index: 10; /* Set stacking order to ensure header stays on top */
  margin-top: 1em; /* Add margin from the top */
  margin-bottom: 1em; /* Add margin from the bottom */
}

h1 {
  padding: 6em; /* Remove default padding */
  margin: 0; /* Remove default margin for heading */
  margin-bottom: 1em; /* Add space below the header */
  scroll-margin-top: 6em; /* Adjust margin to accommodate the fixed header */
}

h2 {
  padding: 6em; /* Remove default padding */
  margin: 0; /* Remove default margin for heading */
  margin-top: 1em; /* Add space below the header */
  scroll-margin-top: 6em; /* Adjust margin to accommodate the fixed header */

}

nav {
  list-style: none; /* Remove bullet points from list */
  padding: 2em; /* Remove default padding */
  margin: 0 auto; /* Remove default margin */
  text-align: center; /* Center the navigation elements */
}

nav li {
  display: inline-block; /* Display list items inline */
  margin-right: 1em; /* Add margin between list items */
}

nav a {
  text-decoration: none; /* Remove underline from links */
  font-weight: bold; /* Make navigation links bold */
  color: white; /* Set text color to white */
}

nav a:hover {
  text-decoration: underline; /* Underline links on hover */
}

main {
  max-width: 800px; /* Set a maximum width for content area */
  margin: 0 auto; /* Center the content area horizontally */
}

section {
  margin-bottom: 2em; /* Add space between sections */
 scroll-margin-top: 6em; /* Adjust margin to accommodate the fixed header */
}

img {
  display: block; /* Images behave like block elements for
